/*
 * Outros estilos para o thema
 */

/*html,body{height:100% !important;}*/

.link-white{
    color: #FFF;
}

/*
#wrapper{
    height:100% !important;;
}

#page-wrapper{
    height:100% !important;;
}
*/

ul.collapse li.active a{
    color: #FFF;
}