#main-navigation {
  /*background: #fff;*/
  background: #222;
  /*padding: 20px 0px; */
  /*border-bottom:1px solid #e8e8e8;*/
  border-bottom:1px solid #666;
  box-shadow: -3px 3px 4px -5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -3px 3px 4px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -3px 3px 4px -5px rgba(0, 0, 0, 0.3);
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  /*background: #fff;*/
  background: #222;
  /*margin-top: 10px;*/
}
#cssmenu > ul > li {
  float: left;
  padding: 30px 0px;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 0px 22px;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  /*color: #999999;*/
  color: #ccc;
  font-weight: normal;
  text-transform: uppercase;
}
#cssmenu > ul > li > a i.fi {
  margin-right: 5px;
  font-size: 14px;
} 
.fi.ion-ios-film-outline {
  font-size: 15px !important;
}
.fi.ion-ios-compose {
  font-size: 16px !important;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
  /*color: #D82727;*/
  color:#b53b75;
  outline: none;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 30px;
  outline: none;
}
#cssmenu > ul > li:first-child > a {
  padding-left: 3px;
}
#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 0px;
  right: 11px;
  display: block;
  color: rgba(200, 200, 200, 1);
  font-family: 'FontAwesome';
  content: '\f0d7';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu.cssmenu-v2 > ul > li.has-sub > a:after {
  color: rgba(255,255,255,1);
}
#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 34px;
  right: 11px;
  display: block;
  color: rgba(216, 39, 39, 0.0);
  font-family: 'FontAwesome';
  content: '\f0d8';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu > ul > li.has-sub:hover > a:after {
  color: rgba(216, 39, 39, 0);
  top: 40px; 
}
#cssmenu > ul > li.has-sub:hover > a:before {
  /*color: rgba(216, 39, 39, 1);*/
  color: #b53b75;
  top: 0px;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu li:hover > ul {
  left: auto;
  top: 74px;
  z-index: 999;
}
#cssmenu.align-right li:hover > ul {
  left: auto;
  right: 0;
}
#cssmenu li:hover > ul > li {
  height: 35px;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0 !important;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li a {
  border-bottom: 1px solid rgba(134, 1, 1, 0.83);
  padding: 11px 15px;
  width: 170px;
  font-size: 14px;
  text-decoration: none;
  color: #dddddd;
  font-weight: 400;
  background: rgb(216,39,39); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(216,39,39,1) 0%, rgba(196,37,37,1) 44%, rgba(191,41,36,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(216,39,39,1) 0%,rgba(196,37,37,1) 44%,rgba(191,41,36,1) 100%); /* Chrome10-25,Safari5.1-6 */
  /*background: linear-gradient(to bottom, rgba(216,39,39,1) 0%,rgba(196,37,37,1) 44%,rgba(191,41,36,1) 100%);*/ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: linear-gradient(to bottom, #b53b75 0%, #9b3364 100%, #822a54 44%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d82727', endColorstr='#bf2924',GradientType=0 ); /* IE6-9 */
}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #ffffff;
  background: rgb(216,39,39); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(216,39,39,1) 0%, rgba(196,37,37,1) 100%, rgba(191,41,36,1) 44%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(216,39,39,1) 0%,rgba(196,37,37,1) 100%,rgba(191,41,36,1) 44%); /* Chrome10-25,Safari5.1-6 */
  /*background: linear-gradient(to bottom, rgba(216,39,39,1) 0%,rgba(196,37,37,1) 100%,rgba(191,41,36,1) 44%);*/ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: linear-gradient(to bottom, #cd6797 0%, #c54d86 100%, #b53b75 44%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d82727', endColorstr='#bf2924',GradientType=0 ); /* IE6-9 */
}
#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: 11px;
  display: block;
  color: rgba(255,255,255, 1);
  font-family: 'FontAwesome';
  content: '\f0d7';
  transform:rotate(0deg);
  -webkit-transform:rotate(0deg);
  -moz-transform:rotate(0deg);
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;
}
#cssmenu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}
#cssmenu ul ul > li.has-sub:hover > a:after {
  color: rgba(255,255,255, 1);
  transform:rotate(-90deg);
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu {
    width: 100%;
  }
  #cssmenu ul {
    width: 100%;
    display: none;
  }
  #cssmenu.align-center > ul {
    text-align: left;
  }
  #cssmenu ul li {
    width: 100%;
    border-top: 1px solid rgba(120, 120, 120, 0.2);
  }
  #cssmenu ul ul li,
  #cssmenu li:hover > ul > li {
    height: auto;
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0;
  }
  #cssmenu > ul > li {
    float: none;
  }
  #cssmenu ul ul li a {
    padding-left: 25px;
  }
  #cssmenu ul ul ul li a {
    padding-left: 35px;
  }
  #cssmenu ul ul li a {
    color: #dddddd;
    background: none;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li.active > a {
    color: #ffffff;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul,
  #cssmenu.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
  }
  #cssmenu > ul > li.has-sub > a:after,
  #cssmenu > ul > li.has-sub > a:before,
  #cssmenu ul ul > li.has-sub > a:after,
  #cssmenu ul ul > li.has-sub > a:before {
    display: none;
  }
  #cssmenu #menu-button {
    display: block;
    padding: 17px;
    color: #dddddd;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
  }
  #cssmenu #menu-button:after {
    position: absolute;
    top: 22px;
    right: 17px;
    display: block;
    height: 4px;
    width: 20px;
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    content: '';
  }    
  #cssmenu #menu-button:before {
    position: absolute;
    top: 16px;
    right: 17px;
    display: block;
    height: 2px;
    width: 20px;
    background: #dddddd;
    content: '';
  }
  #cssmenu #menu-button.menu-opened:after {
    top: 23px;
    border: 0;
    height: 2px;
    width: 15px;
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #cssmenu #menu-button.menu-opened:before {
    top: 23px;
    background: #ffffff;
    width: 15px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #cssmenu .submenu-button {
    background: #DCDCDC;
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.2);
    height: 46px;
    width: 46px;
    cursor: pointer;
  }
  #cssmenu .submenu-button.submenu-opened {
    background: #262626;
  }
  #cssmenu ul ul .submenu-button {
    height: 34px;
    width: 34px;
  }
  #cssmenu .submenu-button:after {
    position: absolute;
    top: 12px;
    font-size: 22px;
    right: 15px;
    display: block;
    color: #A6A6A6;
    font-family: 'FontAwesome';
    content: '\f0d7';
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
  }
  #cssmenu ul ul .submenu-button:after {
    top: 7px;
    right: 10px;
  }
  #cssmenu ul ul .submenu-button.submenu-opened:after {
    color: rgba(216, 39, 39, 0);
    top: 40px;
  }
  #cssmenu ul ul .submenu-button.submenu-opened:before {
    color: rgba(216, 39, 39, 1);
    top: 4px;
    right: 10px;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    /*background: #ffffff;*/
    color: rgba(216, 39, 39, 0);
    top: 40px; 
  }
  #cssmenu .submenu-button.submenu-opened:before {
    /*background: #ffffff;*/
   color: rgba(216, 39, 39, 1);
  top: 12px;
  }
  #cssmenu .submenu-button:before {
   position: absolute;
  top: 12px;
    font-size: 22px;
    right: 15px;
  display: block;
  color: rgba(216, 39, 39, 0.0);
  font-family: 'FontAwesome';
  content: '\f0d8';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  }
  #cssmenu ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
  }
  #cssmenu .submenu-button.submenu-opened:before {
    /*display: none;*/
  }
}
@media (max-width: 768px) {
  #cssmenu > ul > li {
    padding: 15px 0px;
  }
  #cssmenu li:hover > ul {
    top: 16px;
  }
  #cssmenu ul ul, #cssmenu ul ul ul, #cssmenu.align-right ul ul {
    top: 16px;
  }
}
