/*
  Project Name : Video
  Author Company : Ewebcraft
  Project Date: 5 May, 2016
  Author Website : http://www.ewebcraft.com
  Author Email : ewebcraft@gmail.com
*/

	/* ((((((( fonts ))))))) */

	@font-face {
		font-family: 'Montserrat';
		src: url('../fonts/hinted-Montserrat-Bold.eot');
		src: local('Montserrat-Bold'),
			url('../fonts/hinted-Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/hinted-Montserrat-Bold.woff2') format('woff2'),
			url('../fonts/hinted-Montserrat-Bold.woff') format('woff'),
			url('../fonts/hinted-Montserrat-Bold.ttf') format('truetype'),
			url('../fonts/hinted-Montserrat-Bold.svg#Montserrat-Bold') format('svg');
		font-weight: bold;
		font-style: normal;
	}

	@font-face {
		font-family: 'Montserrat';
		src: url('../fonts/hinted-Montserrat-Regular.eot');
		src: local('Montserrat-Regular'),
			url('../fonts/hinted-Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
			url('../fonts/hinted-Montserrat-Regular.woff2') format('woff2'),
			url('../fonts/hinted-Montserrat-Regular.woff') format('woff'),
			url('../fonts/hinted-Montserrat-Regular.ttf') format('truetype'),
			url('../fonts/hinted-Montserrat-Regular.svg#Montserrat-Regular') format('svg');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'PT Sans';
		src: url('../fonts/hinted-PTSans-Bold.eot');
		src: local('PT Sans Bold'), local('PTSans-Bold'),
			url('../fonts/hinted-PTSans-Bold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/hinted-PTSans-Bold.woff2') format('woff2'),
			url('../fonts/hinted-PTSans-Bold.woff') format('woff'),
			url('../fonts/hinted-PTSans-Bold.ttf') format('truetype'),
			url('../fonts/hinted-PTSans-Bold.svg#PTSans-Bold') format('svg');
		font-weight: bold;
		font-style: normal;
	}

	@font-face {
		font-family: 'PT Sans';
		src: url('../fonts/hinted-PTSans-Regular.eot');
		src: local('PT Sans'), local('PTSans-Regular'),
			url('../fonts/hinted-PTSans-Regular.eot?#iefix') format('embedded-opentype'),
			url('../fonts/hinted-PTSans-Regular.woff2') format('woff2'),
			url('../fonts/hinted-PTSans-Regular.woff') format('woff'),
			url('../fonts/hinted-PTSans-Regular.ttf') format('truetype'),
			url('../fonts/hinted-PTSans-Regular.svg#PTSans-Regular') format('svg');
		font-weight: normal;
		font-style: normal;
	}

	/* ((((((( fonts ))))))) */

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #111;
}

p,input,a,button,.btn {
	font-family: 'PT Sans';
	font-size: 14px;
	font-weight: normal;
}
.sm-heading {
	margin-bottom: 0px !important;
}
h1,h2,h3,h4,h5,h6,
.sm-heading a {
	font-family: 'Montserrat';
}
.sm-heading a {
	color: #363636;
	text-decoration: none;
}
.sm-heading a:hover {
	color: #db2727;
}
a,.btn,.btn-default,button {
	transition:all 0.3s ease 0s;
	outline: none;
}
a:active,a:focus {
	outline: none;
}
.overflow-hidden {
	overflow: hidden;
}
.text-uppercase {
	text-transform: uppercase;
}
.wow {
	visibility: hidden;
}

.btn-create-album,
.btn-view-more {
  outline: none;
  margin-top: 20px;
  font-size: 15px !important;
  border-color: #d82727; 
  background: #d82727;
  padding: 6px 25px;
  color: #fff;
}
.btn-create-album:hover,
.btn-create-album:active,
.btn-create-album:focus,
.btn-view-more:hover,
.btn-view-more:active,
.btn-view-more:focus {
  outline: none;
  background-color: #ae0101;
  color: #fff;
  border-color: #ae0101; 
}

	/* Login Effect */
	
	#wrapper {
	    padding-right: 0;
	    -webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    transition: all 0.5s ease;
	}
	#wrapper.toggled {
	    padding-right: 600px;
	}
	#login-box {
		padding: 50px 0px; 
	    z-index: 1000;
	    position: fixed;
	    right: 600px;
	    width: 0;
	    height: 100%;
	    margin-right: -600px;
	    overflow-y: auto;
	    background: #000;
	    -webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    transition: all 0.5s ease;
	}

	#wrapper.toggled #login-box {
	    width: 600px;
	}
	#main-content {
	    width: 100%;
	    position: absolute;
	    /*padding: 15px;*/
	    margin-left: 0px;
	    -webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    transition: all 0.5s ease;
	}

	#wrapper.toggled #main-content {
	    position: absolute;
	    margin-left: -600px;
	}
	#login-box .login-toggle {
		/*background: #d82727;*/
		background: #b53b75;
		color: #fff;
		width: 50px;
		height: 50px;
		border-bottom-right-radius:90%;
		line-height: 45px;
		text-align: center;
		position: absolute;
		top: -5px;
		left: -5px;
		cursor: pointer;
	}

		/*-- login form --*/

		.user-form {
			width: 360px;
			background: rgba(89, 89, 89, 1) none repeat scroll 0 0;
		    border-radius: 5px;
		    height: auto;
		    left: 50%;
		    margin-left: -180px;
		    padding: 30px;
		    position: absolute;
		    top: 50%;
		    margin-top: -225px;
		    transform: scaleX(0);
		    -webkit-transform: scaleX(0);
		    -moz-transform: scaleX(0);
		    transition:all 0.3s ease 0s;
		}
		.form-open {
			transform: scaleX(1);
		    -webkit-transform: scaleX(1);
		    -moz-transform: scaleX(1);
		    transition:all 0.3s ease 0s;
		}
		.login-form,.signUp-form {
			display: none;
			transition:all 0.3s ease 0s;
		}
		.login-form,.signUp-msisdn-form {
			display: none;
			transition:all 0.3s ease 0s;
		}
		.login-form,.signUp-msisdn-form-end {
			display: none;
			transition:all 0.3s ease 0s;
		}
		.login-form,.login-msisdn-form {
			display: none;
			transition:all 0.3s ease 0s;
		}
		.login-form,.associate-msisdn-form {
			display: none;
			transition:all 0.3s ease 0s;
		}
		.login-form,.associate-msisdn-form-end {
			display: none;
			transition:all 0.3s ease 0s;
		}
		.login-form,.subscription-msisdn-form {
			display: none;
			transition:all 0.3s ease 0s;
		}
		.login-form,.subscription-msisdn-form-end {
			display: none;
			transition:all 0.3s ease 0s;
		}
		.form-active {
			-moz-animation: pulse .3s ease 0s;
  			-webkit-animation: pulse .3s ease 0s;
  			animation:pulse .3s ease 0s;
			display: block;
		}
		.form-heading {
			margin-top: 0px;
			margin-bottom: 20px;
			color: #fff;
			font-size: 14px;
			font-weight: bold;
			text-transform: uppercase;
		}
		.btn-login {
			color: #fff;
			/*background: #d82727;*/
			background: #b53b75;
			font-size: 16px;
			border: none;
			position: relative;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.btn-login:hover {
			/*background: #ae0101;*/
			background: #822a54;
			color: #fff;
		}
		.w-facebook {
			background: #39579a;
			margin-right: 20px;
		}
		.w-facebook:hover {
			background: #2d4b90;
			color: #fff;
		}
		.w-twitter { 
			background: #00c9ff;			
		}
		.w-twitter:hover { 
			background: #00b5e6;
			color: #fff;
		}
		.w-facebook {
			font-size: 16px;
			padding: 10px 30px 10px 45px;
		}
		.w-twitter {
			font-size: 16px;
			padding: 10px 30px 10px 50px;
		}
		.btn-login i.fa {
			position: absolute;
			font-size: 20px;
			color: #fff;
			margin-top: 4px;
			left: 22px;
			top: 8px;
		}
	
		.or-login {
		    overflow: hidden;
		    text-align: center;
		    margin-top: 14px;
		    margin-bottom: 14px;
		    color: #fff;
		}
		.or-login:before,
		.or-login:after {
		    background-color: #c4c3c3;
		    content: "";
		    display: inline-block;
		    height: 1px;
		    position: relative;
		    vertical-align: middle;
		    width: 50%;
		}
		.or-login:before {
		    right: 0.5em;
		    margin-left: -50%;
		}
		.or-login:after {
		    left: 0.5em;
		    margin-right: -50%;
		}
		.user-form .form-group {
			position: relative;
		}
		.user-form .form-group .form-control {
			height: 48px;
			border-radius: 5px;
			background: #fff;
			border: none;
			color: #979797;
			/*color: #fff;*/
			padding-left: 60px;			
		}
		.input-icon {
			position: absolute;
			top: 51%;
			font-size: 18px;
			left: 31px;
			color: #979797;
			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
		}
		.user-form p {
			color: #fff;			
		}
		.user-form p a {
			color: #fff;
			text-decoration: none;
		}
		.user-form p a:hover {
			/*color: #FB6060;*/
			color: #b53b75;
		}
		.forgot-password {
			margin-top: 20px;
			margin-bottom: 40px;
		}
		.no-account {
			font-size: 16px;
			margin-bottom: 0px;
		}


		/*-- login form --*/

	/* Login Effect */

#main-bar {
	border-bottom:1px solid #e8e8e8;
	font-size: 0px;
	/*min-height: 60px;*/
}
#main-bar .logo {
	padding: 15px 0px;	
}
#main-bar .social-icon,
#main-bar .login {
	padding: 15px 0px;
}
#main-bar .search-box {
	padding: 10.5px 0px;
}
#main-bar .search-box .form-control {
	position: relative;
	height: 50px;
	padding: 0px;
	background:transparent;
	border: none;
	box-shadow: none;
	padding-left: 50px;
	padding-right: 50px;
	transition:all 0.3s ease-in-out 0.05s;
}
#main-bar .search-box .search-icon {
	position: absolute;
	left: 7%;
	top: 50%;
	margin-top: -10px;
	border: none;
	box-shadow: none;
	background: transparent;
	padding: 0px;	
	transition:all 0.3s ease-in-out 0.05s;
}
#main-bar .search-box .form-control:focus {
	padding-left: 15px;
}
#main-bar .search-box .form-control:focus ~ .search-icon {
	left: 92%;
}
#main-bar .search-box .search-icon:focus {
	left: 92%;
}

#main-bar .search-box .search-icon i.fa {
	font-size: 14px;
	/*color: #999999;*/
	color: #ccc;
}
#main-bar .social-icon  {
	text-align: center;
}
#main-bar .social-icon ul li {
	margin-right: 10px;
}
#main-bar .social-icon ul li:last-child {
	margin-right: 0px;
}
#main-bar .social-icon ul li a {
	font-size: 14px;
	/*color: #999999;*/
	color: #ccc;
}
#main-bar .social-icon ul li a:hover {
	/*color: #d82727;*/
	color:#b53b75;
}
#main-bar .social-icon ul {
	margin-top: 10px;
	margin-left: 0px;
	margin-bottom: 0px;
}
#main-bar .login {
	font-size: 14px;
	/*color: #999999;*/
	color: #ccc;
	padding: 27px 0px 16px;
}
#main-bar .login a {
	/*color:#d82727;*/
	color:#b53b75;
}
#main-bar .login .media {
	/*margin-top: 7px;*/
}
#main-bar .login .svg path {
	/*fill:#D82727;*/
	fill:#b53b75;
}
#main-bar .login .media .media-left {
	padding-right: 8px; 
	padding-left: 5px;
	width: 28px;
	height: 28px;
	/*margin-top: 2px;*/
	float: left;
	display: inline-block;
}
#main-bar .login .media .media-left i.fa {
	font-size: 25px;
	color: #d82727;
}
#main-bar .login .media .media-body p {
	margin-top: -3px;
	margin-bottom: 0px;
}
.border-right {
	border-right:1px solid #e8e8e8;
}
.border-left {
	border-left: 1px solid #e8e8e8;
}
.socicon-dailymotion {
	font-size: 12px;	
}
.vid-img-holder .top-shadow a,
.vid-img-holder .vid-info-text a,
.vid-container .vid-info-text a,
.hd-vid-info-text a {
	text-decoration: none !important;
}

.vid-img-holder .top-shadow a i.fa-vimeo,
.vid-img-holder .top-shadow a i.fa-youtube-play,
.vid-img-holder .top-shadow a .socicon-dailymotion {
	color: #fff;
	transition:all 0.3s ease 0s;
}
.vid-img-holder .vid-info-text a i.fa-vimeo,
.vid-container .vid-info-text a i.fa-youtube-play,
.vid-container .vid-info-text a .socicon-dailymotion,
.hd-vid-info-text a i.fa-vimeo,
.hd-vid-info-text a i.fa-youtube-play,
.hd-vid-info-text a .socicon-dailymotion {
	color: #979797;
	transition:all 0.3s ease 0s;
}
.vid-img-holder .top-shadow a i.fa-vimeo:hover,
.vid-container .vid-info-text a i.fa-vimeo:hover,
.hd-vid-info-text a i.fa-vimeo:hover {
	color: #17B3E8;
}
.vid-img-holder .top-shadow a .socicon-dailymotion:hover,
.vid-container .vid-info-text a .socicon-dailymotion:hover,
.hd-vid-info-text a .socicon-dailymotion:hover {
	color: #004e72;
}
.vid-img-holder .top-shadow a i.fa-youtube-play:hover,
.vid-container .vid-info-text a i.fa-youtube-play:hover,
.hd-vid-info-text a i.fa-youtube-play:hover {
	color: #CD201F;
}

.vid-container {
	display: inline-block;
	width: 100%;
}

.threeD-videos {
	padding-top: 5px;
	display: inline-block;
	width: 100%;
}
.threeD-videos-container {
	margin-top: 50px !important;
}
	
	/* Main Section */

#main-section {
	margin-top: 70px;
}
.small-grid,
.md-grid {
	margin-bottom: 25px;
}
.vid-img-holder {
	position: relative;
	display: inline-block;
	width: 100%;
	overflow: hidden;
}
.overlay-div:before {
	content: '';
	width:1%;
	height: 100%;
	position: absolute;
	top: 0px;
	left:50%;
	display: inline-block;
	background:rgba(0,0,0,0.0);
	z-index: 1;
	transition:width 0.3s ease 0s, background 0.4s ease 0s;
}
.overlay-div:after {
	content: '';
	width:1%;
	height: 100%;
	position: absolute;
	top: 0px;
	right:50%;
	display: inline-block;
	background:rgba(0,0,0,0.0);
	z-index: 1;	
	transition:width 0.3s ease 0s, background 0.4s ease 0s;
}
.vid-img-holder:hover .overlay-div:before,
.vid-img-holder:hover .overlay-div:after,
.latest-vid-img-container:hover .overlay-div:before,
.latest-vid-img-container:hover .overlay-div:after,
.bottom-vid-img-container .bottom-vid:hover .overlay-div:before,
.bottom-vid-img-container .bottom-vid:hover .overlay-div:after {
	background:rgba(0,0,0,0.6);
	width: 50%; 
}
.top-shadow {
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 1%, rgba(0,0,0,0.65) 42%, rgba(0,0,0,0.35) 68%, rgba(0,0,0,0) 98%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 1%,rgba(0,0,0,0.65) 42%,rgba(0,0,0,0.35) 68%,rgba(0,0,0,0) 98%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 1%,rgba(0,0,0,0.65) 42%,rgba(0,0,0,0.35) 68%,rgba(0,0,0,0) 98%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	min-height: 20%;
	position: absolute;
	text-align: center;
	padding-top: 15px;
	width: 100%;
	transition:all 0.3s ease 0.1s;
	top: -30%;
	left: 0px;
	/*display: none;*/
	z-index: 10;
	/*transition:top 0.3s ease 0s, background 0.4s ease 0s;*/
}
.top-shadow span:first-child {
	padding-left: 15px !important;
	text-align: left;
}
.top-shadow span {
	color: #fff;
    display: inline-block;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 32%;
}
.top-shadow span a {
	color: #fff;
}
.top-shadow span a:hover {
	color: #D82727;
}
.top-shadow span:last-child {
	padding-right: 15px !important;
	text-align: right;
}
.vid-img-holder:hover .top-shadow {	
	top: 0px;
	/*display: block;*/
}

.play-icon {
	height: 70px;
    left: 50%;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    margin-left: -35px; 
    /*transform: translate(-50%, -50%);*/
    width: 70px;
    z-index: 10;
    transform:scale(0);
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    transition:all 0.3s ease-in-out 0.1s;
}
.play-small-icon {
	width: 50px;
	height: 50px;
	margin-left: -25px;
	margin-top: -25px;
}
.play-md-icon {
	width: 60px;
	height: 60px;
	margin-left: -30px;
	margin-top: -30px;
}
.svg path {
	fill: #fff;
	transition:all 0.3s ease 0s;
}
.svg:hover path {
	/*fill:#D82727;*/
	fill:#b53b75;
}
.vid-img-holder:hover .play-icon,
.latest-vid-img-container:hover .play-icon,
.bottom-vid-img-container .bottom-vid:hover .play-icon {
	transform:scale(1);
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
}
.bottom-shadow {
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	position: absolute;
	width: 100%;
	min-height: 40%;
	bottom: 0px;
	left: 0px;
}
.vid-author {
	bottom: 10px;
    margin: 0;
    overflow: hidden;
    padding: 0 15px;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    z-index: 2;
}
.vid-author span {
	display: block;
	margin-bottom: 5px;
	font-size: 14px; 
	color: #fff;
}
.vid-author span a {
	font-size: 14px;
}
.vid-author a {
	font-family: 'Montserrat';
	color: #fff;
	font-size: 16px;
	text-decoration: none;	
}
.vid-author a:hover {
	/*color: #DC3D3D;*/
	color:#b53b75;
}

	/* Secondary Section */

#secondary-section {
	padding: 30px 0px;
}
.secondary-vid {
	padding-bottom: 30px;
}
.vid-heading {
	font-family: 'Montserrat';
	/*border-bottom: 1px solid #d0d0d0;*/
	margin: 0px;
	font-size: 0px;
	position: relative;
}
.vid-heading span {
	position: relative;
	margin: 0px;
	font-size: 18px;
	text-transform: uppercase;
	/*color: #D82727;*/
	color:#b53b75;
	/*border-bottom: 1px solid #D82727;*/
	border-bottom: 1px solid #b53b75;
	padding-bottom: 12px;
	display: inline-block;
	z-index: 10;
}
.hding-bottm-line {
	height: 1px;
	width: 100%;
	display: inline-block;
	background: #d0d0d0;
	bottom: 0px;
	left: 0px;
	position: absolute;
	z-index: -1;
}
.vid-container {
	margin-top: 50px;
}
.latest-vid-img-container {
	display: inline-block;
	width: 100%;
	margin-bottom: 30px;
}
.vid-img {
	position: relative;
}
.vid-text {
	margin-top: 15px;
	color: #363636;
}
.vid-text a {
	color: #979797;
	/*font-weight: bold;*/
	font-size: 13px;
	text-decoration: none;
}
.vid-text a:hover {
	/*color: #D82727;*/
	color:#b53b75;
}
.vid-text h1,
.blog-text h1 {
	margin:0px;
	font-size: 0px;
	margin-bottom: 3px;
}

.vid-text h1 a,
.blog-text h1 a {
	font-family: 'Montserrat';
	text-decoration: none;
	display: inline-block;
	/*color: #363636;*/
	color: #ccc;
	font-size: 14px;
	line-height: 1.2em;
	margin: 0px 0px 0px; 
	width: 100%;
	text-overflow:ellipsis;
	overflow: hidden;
}
/*.vid-text h1,
.blog-text h1 {
	font-family: 'Montserrat';
	text-decoration: none;
	display: inline-block;
	color: #363636;
	font-size: 0px;
	/*margin: 0px 0px 5px; */
	/*width: 100%;
	text-overflow:ellipsis;
	overflow: hidden;*/
/*}*/
.vid-text p.vid-info-text {
	color: #979797;
	margin-bottom: 0px;
}
.vid-text p span {
	/*color: #363636;	*/
}
.vid-text p i.fa {
	color: #979797;
	transition:all 0.3s ease 0s;
}
.vid-text p i.fa:hover {
	color: #D82727;
}
.bottom-vid-img-container {
	margin-top: 30px;
}
.bottom-vid-img-container h1 {
	margin-top: 0px;
	font-size: 0px;
}
.bottom-vid-img-container h1 a {
	display: inline-block;
	margin: 0px;
	font-size: 16px;
	margin-bottom: 10px;
}
.bottom-vid-img-container p,
.blog-text p {
	line-height: 1.7em;
	color:#363636;	
}
.bottom-vid-img-container .row .bottom-vid {
	margin-bottom: 30px;
	display: inline-block;
}
.bottom-vid-img-container .row:last-child .bottom-vid {
	margin-bottom: 0px;
	margin-top: 0px;
}
/*.bottom-vid-img-container .bottom-vid:last-child {
	margin-bottom: 0px;
	margin-top: 0px;
}*/
.bottom-vid-img-container .bottom-vid-img {
	padding-right: 0px;
	position: relative; 
}
.bottom-vid-img-container .bottom-vid-text {
	padding-left: 5px;
}
.border-bottom {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #ddd;
}
.hd-vid-auth-name,
.blog-vid-auth-name {
	width: 35%;
	float: left;
	display: inline-block;
	overflow: hidden;
	text-overflow:ellipsis;
}
.hd-vid-auth-name a,
.blog-vid-auth-name a {
	color: #979797;
	font-size: 14px;
	/*font-weight: bold;*/
	text-decoration: none;
}
.hd-vid-auth-name a:hover,
.blog-vid-auth-name a:hover {
	color: #D82727;
}
p.hd-vid-info-text,
p.blog-vid-info-text {
	width: 65%;
	float: left;
	display: inline-block;
	color: #979797;
}
p.hd-vid-info-text a,
p.blog-vid-info-text a {
	color: #979797;
}
p.hd-vid-info-text a:hover,
p.blog-vid-info-text a:hover {
	color: #D82727;	
}

	/* Side Bar */

.sidebar-vid {
	margin-bottom: 30px;
}

.sidebar h1,
.latest-post h1 {
	/*color: #363636;*/
	color:#ccc;
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 5px;	
}
.sidebar h1 a,
.latest-post h1 a {
	/*color: #363636;*/
	color:#ccc;
	font-family: 'Montserrat';
	text-decoration: none;
}
.sidebar h1 a:hover,
.latest-post h1 a:hover {
	/*color: #d82727;*/
	color:#b53b75;
}
.sidebar p,
.latest-post p {
	/*color: #979797;*/
	color:#ccc;
	font-size: 12px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.sidebar p span,
.latest-post p span {
	margin-right: 10px;
}
.sidebar p span:last-child
.latest-post p span:last-child {
	margin-right: 0px;
}
h1.sidebar-heading {
	/*background: #d82727;*/
	background: #b53b75;
	color: #fff;
	text-transform: uppercase;
	/*font-weight: bold;*/
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 10px 25px;
	/*border-left: 3px solid #bd2222;
	border-right: 3px solid #bd2222;*/
	border-left: 3px solid #b53b75;
	border-right: 3px solid #b53b75;
}
.sidebar .most-liked .media,
.latest-post .media {
	border-bottom: 1px solid #ddd;
	padding-bottom: 15px;
}
.sidebar .most-liked .media:last-child,
.latest-post .media:last-child {
	border-bottom: none;
	padding-bottom: 0px;
}
.most-viewd .most-viewd-img {
	margin-bottom: 15px;
}
.most-viewd .most-viewd-container {
	margin-bottom: 15px;
}
.tags ul {
	font-size: 0px;
}
.tags ul li {
	margin-right: 4px;
	padding: 0px;
	display: inline-block;
	margin-bottom: 4px;
}
.tags ul li a {
	font-size: 14px;
	padding: 10px 16px;
	background: #e8e8e8;
	color: #979797;
	text-decoration: none;
	text-transform: uppercase; 
	display: inline-block;
}
.tags ul li a:hover {
	background: #d82727;
	color: #fff;
}
#footer{
	/*background: #f4f4f4;*/
	background: #222;
	padding: 60px 0px;
}
#footer .vid-heading {
	margin-bottom: 30px;
}
#footer .vid-heading span {
	font-size: 16px;
} 
#footer .hding-bottm-line {
	z-index: 0;
}
.footer-about img {
	width: 63%;
}
.footer-about p {
	/*color: #575757;*/
	color:#ccc;
	line-height: 1.6em;
	margin-top: 15px;
	margin-bottom: 15px;
}
.footer-about .bottom-social li {
	margin-right: 5px;
	padding: 0px;
}
.footer-about .bottom-social li a {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	background: #e8e8e8;
	color: #979797;
	display: inline-block;
	/*box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);*/
}
.footer-about .bottom-social li a:hover {
	/*background: #D82727;*/
	background: #b53b75;
	color: #fff;
	/*box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);*/
}

.category-list li a:before {
	content: '\f105';
	font-family: 'FontAwesome';
	display: inline-block;
	font-size: 14px;
	position: absolute;
	left: 5px;
	top: 50%;
	margin-top: -10px;	
}
.category-list li a {
	/*color: #575757;*/
	color: #ccc;
	padding: 12px 0px 12px 15px;
	border-bottom:1px solid #dddddd;
	display: inline-block;
	width: 100%;
	position: relative;
	text-decoration: none;
}
.category-list li a:hover {
	/*color: #d82727;*/
	color:#b53b75;
}
#contact-form .form-control {
	background: #f0f0f0;
	border: 1px solid #e1e1e1;
	color: #575757;
	border-radius: 0px;
	box-shadow: none;
	margin-bottom: 15px;
}
.btn-send {
	/*background: #d82727;*/
	background: #b53b75;
	color: #fff;
	padding: 8px 30px;
	font-size: 16px;
	outline: none;	
}
.btn-send:hover,
.btn-send:active,
.btn-send:focus {
	 /*background: #AE0101;*/
	 background: #822a54;
	 color: #fff;
}

/* form-submision */

	.formOverlay:before 
	{
	  content: "\f110";
	  font-family: fontawesome;
	  -webkit-animation: fa-spin 1s infinite steps(8);
	  animation: fa-spin 1s infinite steps(8);
	  color:#D82727;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  margin-left: -10%;
	  font-size: 56px;
	  margin-top: -34px;
	}
	.formOverlay 
	{
	  background: rgba(0,0,0,0.3);
	  display: block;
	  height: 100%;
	  left: 0;
	  position: absolute;
	  top: 0;
	  width: 100%;
	  z-index: 9999;
	}
	.alert strong {
		display: inline-block;
		width: 100%;
	}
	.alert .message-icon 
	{
	  float: left;
	  width: 30px;
	  height: 30px;
	  text-align: center;
	  border:1px solid #9F9F9F;
	  border-radius: 50%;
	  line-height: 30px;
	}
	.alert span {
	  display: inline-block;
	  font-size: 14px;
	  font-weight: 400;
	  float: left;
	  width: 80%;
	  margin-left: 15px;
	  margin-top: 5px;
	}
	.form-control.error {
		border-color: rgba(166, 0, 0, 0.4) !important;
		box-shadow: 0 1px 1px rgba(56, 165, 74, 0.1) inset, 0 0 4px rgba(166, 0, 0, 0.4) !important;
		-webkit-box-shadow: 0 1px 1px rgba(56, 165, 74, 0.1) inset, 0 0 4px rgba(166, 0, 0, 0.4) !important;
		-moz-box-shadow: 0 1px 1px rgba(56, 165, 74, 0.1) inset, 0 0 4px rgba(166, 0, 0, 0.4) !important;
	}
	label.error {
		display: none !important;
	}
	#contact-form .form-control::-webkit-input-placeholder { /* Chrome */
	  color: #c2c2c2;
	}
	#contact-form .form-control:-ms-input-placeholder { /* IE 10+ */
	  color: #c2c2c2;
	}
	#contact-form .form-control::-moz-placeholder { /* Firefox 19+ */
	  color: #c2c2c2;
	  opacity: 1;
	}
	#contact-form .form-control:-moz-placeholder { /* Firefox 4 - 18 */
	  color: #c2c2c2;
	  opacity: 1;
	}

	/* form-submision */

#copyright {
	padding: 20px 0px;
	/*background: #d82727;*/
	background: #b53b75;
	color: #fff;
}
#copyright p {
	margin: 0px;
	font-size: 16px;
}
#copyright p a {
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
}
#copyright p a:hover,
#copyright p a:active,
#copyright p a:focus {
	color: #ffffff;
}

	/* Home V2 */

/*.login-v2 {
	display: inline-block;
}*/

#index-v2 .svg:hover path {
	fill: #0098D8;
}
#index-v2 a:hover {
	color: #0098D8;
}
#social-v2 a:hover {
	color: #fff;
}
#index-v2 .vid-heading span {
	color: #0098D8;
	border-color: #0098D8;
}
#index-v2 h1.sidebar-heading {
	background: #0098D8;
	border-left: 3px solid #0082ba;
	border-right: 3px solid #0082ba;
}
#index-v2 #copyright {
	background: #0098D8;
}
#index-v2 .tags ul li a:hover {
	background: #0098D8;
	color: #fff;
}
#index-v2 .footer-about .bottom-social li a:hover {
	background: #0098D8;
	color: #fff;
}
#main-bar.main-bar-v2 {
	border-bottom: none;
}
#main-bar .login-v2 a {
	color: #737373;
}
#main-bar .login-v2 a:hover {
	color: #0098d8;
}
.btn-blue {
	background: #0098d8;
	font-size: 14px;
	border-radius: 25px;
	padding: 10px 30px;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
	border: none;
	margin-top: 16px;
	outline: none;
}
.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
	background: #0089c3;
	color: #fff;
	outline: none;
}
.v2-bg {
	background: #0098d8 !important;
}
.v2-color {
	color: #0098d8 !important;
}
#main-navigation.nav-v2 {
	background: #0098D8;
	position: relative;
	z-index: 5;
}
#main-navigation.nav-v2 #cssmenu {
	background: #0098D8;
	color: #fff;
}
#main-navigation.nav-v2 #cssmenu > ul > li > a {
	color: #fff;
	padding: 0px 16px;
}
#main-navigation.nav-v2 #cssmenu > ul > li.has-sub > a {
	padding: 0px 30px 0px 16px;
}
#main-navigation.nav-v2 #cssmenu > ul > li {
	border-top: 3px solid rgba(255, 255, 255, 0);
	border-bottom: 3px solid rgba(0, 134, 191, 0);
	margin-bottom: -4px;
	background: rgba(0, 152, 216, 0);
	transition:all 0.3s ease 0s;	
}
#main-navigation.nav-v2 #cssmenu > ul > li:hover,
#main-navigation.nav-v2 #cssmenu > ul > li.active {
	border-top: 3px solid rgba(255, 255, 255, 1);
	border-bottom: 3px solid #0086bf;
	background: rgba(0, 145, 207, 1);
}
#main-navigation.nav-v2 #cssmenu > ul > li:hover > a {
  color: #fff;
}
#main-navigation.nav-v2 #cssmenu ul ul li a {
  border-bottom: 1px solid rgba(0, 152, 216, 0.83);
  background: rgb(0, 152, 216); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(0, 152, 216, 1) 0%, rgba(0,141,201,1) 44%, rgba(0,131,186,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 152, 216, 1) 0%, rgba(0,141,201,1) 44%, rgba(0,131,186,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 152, 216, 1) 0%, rgba(0,141,201,1) 44%, rgba(0,131,186,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0098D8', endColorstr='#008fcb',GradientType=0 ); /* IE6-9 */
}
#main-navigation.nav-v2 #cssmenu ul ul li:hover > a,
#main-navigation.nav-v2 #cssmenu ul ul li a:hover {
  color: #ffffff;
  background: rgb(0, 152, 216); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(0, 152, 216, 1) 0%, rgba(0,141,201,1) 100%, rgba(0,131,186,1) 44%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 152, 216, 1) 0%, rgba(0,141,201,1) 100%, rgba(0,131,186,1) 44%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 152, 216, 1) 0%, rgba(0,141,201,1) 100%, rgba(0,131,186,1) 44%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0098D8', endColorstr='#008fcb',GradientType=0 ); /* IE6-9 */
}
#main-navigation.nav-v2 #cssmenu > ul > li.has-sub:hover > a:before {
  color: rgba(255, 255, 255, 1);
}
#main-navigation.nav-v2 #cssmenu ul ul .submenu-button.submenu-opened:before {
    color: rgba(255, 255, 255, 1);
}
#main-navigation.nav-v2 #cssmenu .submenu-button.submenu-opened:before {
   color: rgba(255, 255, 255, 1);
}

#social-v2 ul {
	margin-bottom: 0px;
	text-align: right;
}
#social-v2 ul li {
	display: inline-block;
	margin-right: 8px;
	margin-bottom: -4px;
	border-top: 3px solid rgba(255, 255, 255, 0);
	border-bottom: 3px solid rgba(0, 134, 191, 0);
	background: rgba(0, 145, 207, 0);
	padding: 27px 10px;
	transition:all 0.3s ease 0s;	
}
#social-v2 ul li:hover {
	border-top: 3px solid rgba(255, 255, 255, 1);
	border-bottom: 3px solid rgba(0, 134, 191, 1);
	background: rgba(0, 145, 207, 1);
}
#social-v2 ul li:last-child {
	margin-right: 0px;
}
#social-v2 ul li a {
	color: #fff;
}

#index-v2 .for-drop-search {
	position: relative;
}
#index-v2 .srch-button {
	position: absolute;
	left: 0px;
	top: 20px;
	margin-top: 0px;
	text-align: center;
}
.srch-button .btn-search-drop:before {
	color: #fff;
	display: inline-block;
	content: '\f002';
	font-family: FontAwesome;
	font-size: 14px;
	transition:all 0.3s ease 0.1s;
}
.srch-button .btn-search-close:before {
	content: '\f00d';
}
.srch-button .btn-search-drop {
	background: #0091cf;
	border:1px solid #0089c4;
	border-radius: 0px;
	outline: none;
	padding: 8px 10px;		
}
.srch-button .btn-search-drop:hover,
.srch-button .btn-search-drop:active,
.srch-button .btn-search-drop:focus {
	outline: none;
}
#search-form {
	position: relative;	
}
#search-form .search-group {
	margin: 0px;
	padding: 0px;	
	position: absolute;
	top: -60px; 
	left: 0px;
	display: inline-block;
	width: 100%;
	margin-top: -2px;
	transition:all 0.3s ease-in-out 0.1s;
}
#search-form .search-group .form-control {
	color: #fff;
	background: rgba(0, 152, 216, 0.1);
	height: 60px;
	border-radius: 0px;
	border: 2px solid rgba(0,0,0,0.0);
	position: relative;
	box-shadow: none;
	padding:0px 60px 0px 15px;
	transition:background 0.5s ease 0.1s, z-index 0.5s ease 0s, border 0.6s ease-in 0.1s;
	z-index: -1;
}
#search-form .search-group-active {
	top: 0px;
}
#search-form .search-group-active .form-control {
	background: rgba(0, 152, 216, 1);
	border: 2px solid rgba(0,0,0,0.25);
	z-index: 6;	
}
#search-form .search-group .search-icon {
	height: 100%;
	background: rgba(0,0,0,0.25);
	border: none;
	position: absolute;
	padding: 0px 20px;
	top: 50%;
	right: 0px;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	z-index: -1;
	transition:z-index 0.8s ease 0s;	
}
#search-form .search-group .search-icon i.fa {
	color: #fff;
}
#search-form .search-group-active .search-icon {
	z-index: 7;
}
#search-form .form-control::-webkit-input-placeholder { /* Chrome */
	color: #dddddd;
}
#search-form .form-control:-ms-input-placeholder { /* IE 10+ */
	color: #dddddd;
}
#search-form .form-control::-moz-placeholder { /* Firefox 19+ */
    color: #dddddd;
    opacity: 1;
}
#search-form .form-control:-moz-placeholder { /* Firefox 4 - 18 */
    color: #dddddd;
    opacity: 1;
}
#main-section.main-v2 {
	background: #F5F0F5;
	padding: 20px 0px;
	margin-bottom: 50px;
}
#main-section .video-carousel .item {
	font-size: 0px;
}
#main-section.main-v2 .top-shadow span {
	font-size: 14px;
}

	/* Different Style Page */

#st-1-column {
	padding: 60px 0px 0px;
}

.st-masonary .vid-heading {
	margin-bottom: 50px;
}

.st-listing .bottom-vid-img-container {
	margin-top: 5px;
}

	/* Detail Page */

#video-detail {
	padding: 60px 0px;
}
#video-detail .vid-text h1 {
	font-size: 20px;
}
.video-info-bar {
	background: #f3f3f3;
	margin-top: 20px;
	position: relative;
	z-index: 999;
	/*padding: 20px 0px;*/
}
.video-info-bar {
	font-size: 0px;
}
.video-info-bar ul {
	display: inline-block;
	width: 100%;
	margin: 0px;	
}
.video-info-bar ul li {
	font-size: 14px;
	color: #979797;
	padding:20px;
	border-right: 1px solid #fff;
}
.video-info-bar ul li a {
	color: #979797;
}
.video-info-bar ul li a:hover {
	color: #D82727;
}
.video-info-bar ul li:last-child {
	border-right: none;
	border-left: 1px solid #fff;
}
.video-info-bar ul li i.fa {
	margin-right: 5px;
}
.video-info-bar ul li:last-child i.fa{
	margin-right: 0px;
}
.video-detail-text {
	padding: 30px 0px 50px;
}
.video-detail-text p {
	color: #575757;
	margin-bottom: 20px;
	line-height: 1.7em;
}
.video-detail-text p:last-child {
	margin-bottom: 0px;
}
.comment-form {
	padding: 40px 0px 20px;
}

.comment-form .form-group {
	margin-bottom: 20px;
	position: relative;
}
.comment-form input.form-control {
	height: 45px;	
}
.comment-form .form-control {
	border-radius: 0px;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
.comment-form .form-control:focus {
	border:1px solid #ccc;
}
.input-top-line {
	position: absolute;
	display: inline-block;
	height: 1px;
	width: 100%;
	background: #D82727;
	top: 0px;
	left: 0px;
	transition:width 0.4s ease 0.2s;
}
.input-bottom-line {
	position: absolute;
	display: inline-block;
	height: 1px;
	width: 0%;
	background: #D82727;
	bottom: 0px;
	left: 0px;
	transition:width 0.5s ease 0.2s;
}

.comment-form .form-control:focus ~ .input-top-line {
	width: 0%;
}
.comment-form .form-control:focus ~ .input-bottom-line {
	width: 100%;
}
.btn-snd {
	background: #D82727;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 25px;
	transition:all 0.3s ease 0s;
	outline: none;
	margin-top: 10px;
	border-radius: 4px;
	border:none;
}
.btn-snd:hover,
.btn-snd:active,
.btn-snd:focus {
	background: #B30505;
	outline: none;
	color: #fff;
}

.related-item .vid-container {
	margin-top: 0px;
}
.related-item .vid-container .latest-vid-img-container {
	margin-bottom: 0px;
}

	/* Video 3 Column */

#secondary-section.vids-3-column {
	padding: 75px 0px 60px;
}
#secondary-section.vids-2-column {
	padding: 75px 0px 20px;
}
#secondary-section.vids-4-column {
	padding: 75px 0px 0px;
}


	/* Page Bar */

#page-bar {
	padding: 20px 0px;
	border-bottom: 1px solid #e8e8e8;
}
.page-title h1 {
	margin: 0px;
	font-size: 30px;
	color: #363636;	
}
.breadcrumb {
	background: transparent;
	margin-bottom: 0px;
}
.breadcrumb li {
	color: #979797;
}
.breadcrumb li.active {
	color: #d82727;
}
.breadcrumb li a {
	color: #979797;
}
.breadcrumb li a i.fi {
	margin-right: 3px;
}

	/* Page Bar */

	/* Blog Listing */

#blog-listing,
#about-us {
	padding: 60px 0px 0px;
}

#blog-listing .vid-container,
#about-us .vid-container {
	margin-top: 0px;
}
.blog-vid-info {
	padding: 10px 0px 10px;
	margin-top: 20px;
	border-bottom: 1px solid #e8e8e8;
	display: inline-block;
	width: 100%;
}
p.blog-vid-auth-name {
	width: 45%;
}
p.blog-vid-auth-name span {
	float: left;
	margin-right: 6px;
}

p.blog-vid-auth-name span.by-in {
	color: #333;
	margin-right: 3px;
}
p.blog-vid-auth-name a {
	float: left;
	width: 56px;
	margin-right: 4px;
	display: inline-block;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
p.blog-vid-auth-name a:last-child {
	margin-right: 0px;
}
p.blog-vid-info-text {
	width: 55%;
}
.blog-vid-auth-name span {
	color: #979797;
	margin-right: 2px;
}
.blog-vid-info p {
	margin-bottom: 0px;
}
.blog-text {
	margin-top: 15px;
}
.blog-text h1 a {
	display: inline-block;
	font-size: 15px;
	margin-bottom: 15px;
}
.btn-blog {
	border:1px solid #363636;
	color: #363636;
	margin-top: 5px;
	padding-left: 25px;
	padding-right: 25px;
	font-size: 14px;
}
.btn-blog:hover {
	color: #db2727;
	border-color: #db2727;
}
.blog-list-container {
	margin-bottom: 60px;
	display: inline-block;
}

.pagination-container {
	margin-top: 20px;
	margin-bottom: 50px;
	display: inline-block;
	width: 100%;
}
#secondary-section .pagination-container {
	margin-top: 40px;
	margin-bottom: 10px;
}
.video-info-bar .info-ul {
	position: relative;
	z-index: 999;
	background: #efefef;
}
.video-info-bar .info-ul .btn {
	padding: 0px;
	outline: none;
	background: none;
}
.video-info-bar .info-ul .btn:active,
.video-info-bar .info-ul .btn:focus {
	outline: none;
}
.video-info-bar .info-ul .sharing-drop {
	cursor: pointer;
	background: #efefef;
	transition:all 0.3s ease 0s;
}
.video-info-bar .info-ul .sharing-drop button:before {
	color: #979797;
	display: inline-block;
	content: '\f1e0';
	font-family: FontAwesome;
	transition:all 0.3s ease 0.1s;
}
.video-info-bar .info-ul .sharing-drop-open {
	/*background: #db2727;*/
	background: #b53b75;
	border:none;
}
.video-info-bar .info-ul .sharing-drop-open button:before {
	content: '\f00d';
	color: #fff;
}
.video-info-bar .info-ul .sharing-drop:hover button:before {
	/*color: #D82727;*/
	color: #b53b75;
}
.video-info-bar .info-ul .sharing-drop-open:hover button:before {
	color: #fff;
}

.video-info-bar .sharing-bar {
	width: auto;
	/*background: #db2727;*/
	background: #b53b75;
	padding: 0px 15px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 99;
	transition:all 0.3s ease 0s;
}
.video-info-bar .sharing-bar li {
	padding: 6px 7px;
	border:none;
}
.video-info-bar .sharing-bar li:last-child {
	border:none;
}
.video-info-bar .sharing-bar li a {
	display: inline-block;
	line-height: 40px;
	padding: 0px;
	color: #fff;		
}
.video-info-bar .sharing-bar li a:hover {
	color: #fff;
}
.video-info-bar .sharing-bar li:last-child {
	margin-right: 0px;
}
.video-info-bar .sharing-bar li a i.fa {
	margin-right: 0px;
	margin-left: 2px;
}
.video-info-bar .sharing-bar-open {
	top: 100%;
}

.listing-container .blog-vid-info {
	margin-top: 0px;
	padding-top: 0px;
}

.pagination {
	border-top: 1px solid #d0d0d0;
	margin:0px;
}
.pagination li{
	position: relative;
	display: inline-block;
}
.pagination li a {
	background: transparent;
	color: #575757;
	border:none;
	font-size: 14px;
	outline: none;
}
.pagination li a:hover,
.pagination li a:active,
.pagination li a:focus,
.pagination li.active a,
.pagination li.active a:hover {
	color: #d52727;
	background: transparent;
	outline: none;
}
.pagination-hvr {
	background: rgba(213, 39, 39, 0.1);
	height: 2px;
	width: 0%;
	display: inline-block;
	position: absolute;
	top: -1px; 
	left: 0px;
	transition:width 0.3s ease 0s, background 0.4s ease 0s;
} 
.pagination li:hover .pagination-hvr,
.pagination li.active .pagination-hvr {
	width: 100%;
	background: rgba(213, 39, 39, 1);
}
.pagination > li:first-child > a, .pagination > li:last-child > a {
	font-size: 16px;
	margin-top: -3px;
}

.related-item {
	margin-top: 50px;
}
.related-item .vid-heading {
	margin-bottom: 50px;
}
.related-item .blog-list-container {
	margin-bottom: 10px;	
}

	/* About Page */

#about-us {
	padding-bottom: 60px;
}

.about-text h1 {
	margin-top: 0px;
	font-size: 16px;
	color: #363636;
	margin-bottom: 15px;
}
.about-text p {
	margin-top: 0px;
	margin-bottom: 20px;
	color: #575757;
	line-height: 1.6em;
}
.about-text p:last-child {
	margin-bottom: 0px;
}
.about-det {
	margin-top: 50px;
}
.about-video {
	display: inline-block;
	margin-top: 50px;
	width: 100%;
}
.limit_ponto {
	max-width: 12ch;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	padding-right: 2px;
  	float: left;
	display: inline-block;
}
.limit_ponto_search {
	max-width: 36ch;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	padding-right: 2px;
  	float: left;
	display: inline-block;
}
	
	/* About Page */

/*  Bootstrap Clearfix */

@media (min-width:1200px){
    .auto-clear .col-md-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-md-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-md-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-md-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-md-6:nth-child(odd){clear:left;}
    .auto-clear .col-lg-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-lg-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-lg-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-lg-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-lg-6:nth-child(odd){clear:left;}
}
@media (min-width:992px) and (max-width:1199px){
    .auto-clear .col-md-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-md-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-md-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-md-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-md-6:nth-child(odd){clear:left;}
}
@media (min-width:768px) and (max-width:991px){
    .auto-clear .col-sm-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-sm-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-sm-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-sm-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-sm-6:nth-child(odd){clear:left;}
}
@media (max-width:767px){
    .auto-clear .col-xs-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-xs-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-xs-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-xs-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-xs-6:nth-child(odd){clear:left;}
}